.header {
  text-align: center;
  height: 20vh;
  padding: 50px 0;
  font-size: 30px;
  color: #b490ca;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.main {
  background-image: linear-gradient(to top, #099d8d 0%, #b490ca 100%);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  gap: 30px;
  padding: 30px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  border: 2px solid #099d8d;
  color: #099d8d;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
  color: #525252;
}

.input {
  font-size: 20px;
  text-align: center;
  border-style: none;
  height: 30px;
  border-radius: 5px;
}

.input::placeholder {
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}

.text {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
}
